.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tarjeta {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: #555;
  row-gap: 10px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.tarjeta__titulo {
  width: 60%;
  margin: 0;
  font-size: 22px;
  padding-top: 20px;
  text-align: center;
}

.tarjeta__input {
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tarjeta__etiqueta {
  width: 60%;
  text-align: center;
}

.tarjeta__select {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;
}

.tarjeta__button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;
  color: white;
  background-color: lightseagreen;
  border: 2px solid blue;
  font-size: 18px;
}

.tarjeta__result {
  font-size: 22px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.graph {
  margin-top: 20px;
  background-color: white;
  width: 80%;
}

.ocultar {
  display: none;
}
